<div class="page-header">
  <h1>
    Menu items
    <a href="/menu_items/new" class="btn btn-lg btn-success">New Menu item</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Dish</th>
        <th>Venue</th>
        <th>Actions</th>
      </tr>

      <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <td>
          <% if menu_item.dish.present? %>
            <a href="/dishes/<%= menu_item.dish.id %>">
              <%= menu_item.dish.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <% if menu_item.venue.present? %>
            <a href="/venues/<%= menu_item.venue.id %>">
              <%= menu_item.venue.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/menu_items/<%= menu_item.id %>" class="btn btn-primary">Show</a>
          <a href="/menu_items/<%= menu_item.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_menu_item/<%= menu_item.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @menu_items, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
