<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @venue.name %></dd>

      <dt>Address</dt>
      <dd><%= @venue.address %></dd>

      <dt>Neighborhood</dt>
      <dd>
        <% if @venue.neighborhood.present? %>
          <a href="/neighborhoods/<%= @venue.neighborhood_id %>">
            <%= @venue.neighborhood.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @venue.cuisine.present? %>
          <a href="/cuisines/<%= @venue.cuisine_id %>">
            <%= @venue.cuisine.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Venue has many menu_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Menu Items
      </li>

      <% @venue.menu_items.each do |menu_item| %>
        <li class="list-group-item">
          <a href="/menu_items/<%= menu_item.id %>">
            <%= menu_item.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/menu_items/<%= menu_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/menu_items/<%= menu_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_menu_item/<%= menu_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_menu_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for dish_id -->
      <div class="form-group">
        <label for="dish_id" class="control-label">
          Dish
        </label>

        <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <button class="btn btn-block btn-success">
        Create Menu Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Venue has many dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dishes
      </li>

      <% @venue.dishes.each do |dish| %>
        <li class="list-group-item">
          <a href="/dishes/<%= dish.id %>">
            <%= dish.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/dishes/<%= dish.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
